.login {
    position:fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.display-4 {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.login_form {
    height: 265px;
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: 20px solid #9dc09d;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.login_alert {
    margin: 30px 250px;

    text-align: center;
}

.login_form_input {
    margin-bottom: 5px;
    margin-top: 5px;
}

.login_form_button {
    margin: 30px auto;
    width: 45%;
}

.button_login {
    background-color: #3f8880;
    color: white;
    padding: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #3f8880;
}

.button_login:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.alert-danger {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

.navbar-brand {
    padding-left: 10px;
    font-weight: bolder;
}

.navbar-toggler {
    background: #9dc09d;
}

.navbar-custom {
    background-color: #3f8880;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}