<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<main class="d-flex flex-row">
    <nav th:insert="fragments/sidebar-fragment::nav"></nav>
    <section class="container-fluid p-3 d-flex flex-column align-items-center justify-content-center border-start">
        <form class="shadow-lg p-4 rounded-3 border border-dark border-success border-opacity-25 form-nessfit" th:action="@{/administrative/view-details-request}" method="post" autocomplete="off">
            <div class="d-flex align-items-center">
                <a class="btn btn-primary btn-nessfit me-3" aria-current="page" th:href="@{/administrative/manage-request}"><i class="bi bi-arrow-return-left"></i> Volver</a>
            </div>
            <table class="table table-hover" style="border-color: black">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Centro arrendado</th>
                    <th scope="col">Fecha solicitud</th>
                    <th scope="col">RUT cliente</th>
                    <th scope="col">Nombre cliente</th>
                    <th scope="col">Apellido cliente</th>
                    <th scope="col">Fechas arrendadas</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${dates == null}">
                    <td colspan="7" class="text-center">
                        No hay fechas que mostrar.
                    </td>
                </tr>
                <tr th:unless="${dates == null}" th:each="date : ${dates}">
                    <td th:text="${date.getId()}"></td>
                    <td th:text="${request.getInstallation().getName()}"></td>
                    <td th:text="${request.getRegister()}"></td>
                    <td th:text="${request.getUser().getRut()}"></td>
                    <td th:text="${request.getUser().getFirstName()}"></td>
                    <td th:text="${request.getUser().getLastName()}"></td>
                    <td th:text="${date.getDate()}"></td>
                </tr>
                </tbody>
            </table>
            <input name="id" type="hidden" th:value="${request.getId()}">
            <input id="result" name="result" type="hidden">
            <div class="container-fluid h-100">
                <div class="row w-100 align-items-center">
                    <div class="col text-center">
                        <button id="modalButton1" type="button" class="btn btn-primary btn-nessfit" data-bs-toggle="modal" data-bs-target="#exampleModal">Aceptar</button>
                        <button id="modalButton2" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Rechazar</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header w-100">
                                    <h1 class="modal-title fs-5">¿Está seguro?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body w-100" id="messageModal"></div>
                                <div class="modal-footer w-100">
                                    <button type="submit" class="btn btn-primary btn-nessfit">Confirmar</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
<footer th:insert="fragments/footer-fragment::footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script th:inline="javascript">
    $('#modalButton1').on('click', function() {
        $('#messageModal').text('Aprobar la solicitud');
        $('#result').val('0')
    });
    $('#modalButton2').on('click', function() {
        $('#messageModal').text('Rechazar la solicitud');
        $('#result').val('2')
    });
</script>
</body>
</html>