<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NESSFIT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar sticky-top bg-white border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand">NESSFIT</a>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Mi cuenta
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/edit-profile}">Editar mi perfil</a></li>
                    <li><a class="dropdown-item" th:href="@{/change-password}">Cambiar contraseña</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container-fluid d-flex flex-row">
    <nav class="navbar navbar-expand-lg bg-white border-end">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">Menú</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/administrator/manage-user}">Gestionar usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestionar centros deportivos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container-fluid">
        <div class="container-fluid d-flex justify-content-center align-items-center" th:if="${client == false}" style="min-height: calc(100vh - 4rem);">
            <form th:action="@{/administrator/register-administrative}" th:object="${user}" method="post" autocomplete="off">
                <!--RUT-->
                <div class="mb-3">
                    <label for="exampleInputRut1" class="form-label">RUT</label>
                    <input name="rut" type="text" class="form-control" id="exampleInputRut1" aria-describedby="rutHelp1" th:field="${rut}">
                    <div id="rutHelp1" class="form-text">Sin puntos ni guion, si termina en K, debe ingresar en mayúsculas. Ejemplo: 123456789K.</div>
                    <div th:if="${validRut == false}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong> RUT inválido.
                    </div>
                    <div th:if="${existRut == false}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
                    </div>
                </div>
                <!--FirstName-->
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Nombres</label>
                    <input name="name" type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp1" th:field="*{firstName}">
                    <div id="nameHelp1" class="form-text">Largo mínimo de 3 caracteres. Ejemplo: Luz María.</div>
                    <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong>
                        <label th:errors="*{firstName}"></label>
                    </div>
                </div>
                <!--LastName-->
                <div class="mb-3">
                    <label for="exampleInputLastname1" class="form-label">Apellidos</label>
                    <input name="lastname" type="text" class="form-control" id="exampleInputLastname1" aria-describedby="lastnameHelp1" th:field="*{lastName}">
                    <div id="lastnameHelp1" class="form-text">Largo mínimo de 3 caracteres. Ejemplo: Del Bosque.</div>
                    <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong>
                        <label th:errors="*{lastName}"></label>
                    </div>
                </div>
                <!--Email-->
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp1" th:field="*{email}">
                    <div id="emailHelp1" class="form-text">Debe contener un “@” antes y después de este. Ejemplo: correo@electronico.</div>
                    <div th:if="${#fields.hasErrors('email')}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong>
                        <label th:errors="*{email}"></label>
                    </div>
                    <div th:if="${existEmail == false}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
                    </div>
                </div>
                <!--Phone-->
                <div class="mb-3">
                    <label for="exampleInputPhone1" class="form-label">Teléfono</label>
                    <input name="phone" type="text" class="form-control" id="exampleInputPhone1" aria-describedby="phoneHelp1" th:field="*{phone}">
                    <div id="phoneHelp1" class="form-text">Largo mínimo de 12 dígitos y largo máximo de 15 dígitos.</div>
                    <div th:if="${#fields.hasErrors('phone')}" class="alert alert-large">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>¡Error!</strong>
                        <label th:errors="*{phone}"></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar administrativo</button>
            </form>
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center" th:if="${client == true}" style="min-height: calc(100vh - 4rem);">
            <form th:action="@{/administrator/register-client}" th:object="${user}" method="post" autocomplete="off">
                <!--RUT-->
                <div class="mb-3">
                    <label for="exampleInputRut2" class="form-label">RUT</label>
                    <input name="rut" type="text" class="form-control" id="exampleInputRut2" aria-describedby="rutHelp2">
                    <div id="rutHelp2" class="form-text">Sin puntos ni guión, si termina en K, debe ingresar en mayúsculas. Ejemplo: 123456789K.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputName2" class="form-label">Nombres</label>
                    <input name="name" type="text" class="form-control" id="exampleInputName2" aria-describedby="nameHelp2">
                    <div id="nameHelp2" class="form-text">Largo mínimo de 3 caracteres. Ejemplo: Luz María.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputLastname2" class="form-label">Apellidos</label>
                    <input name="lastname" type="text" class="form-control" id="exampleInputLastname2" aria-describedby="lastnameHelp2">
                    <div id="lastnameHelp2" class="form-text">Largo mínimo de 3 caracteres. Ejemplo: Del Bosque.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail2" class="form-label">Correo electrónico</label>
                    <input name="email" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp2">
                    <div id="emailHelp2" class="form-text">Debe contener un “@” antes y después de este. Ejemplo: correo@electronico.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPhone2" class="form-label">Teléfono</label>
                    <input name="phone" type="text" class="form-control" id="exampleInputPhone2" aria-describedby="phoneHelp2">
                    <div id="phoneHelp2" class="form-text">Largo mínimo de 12 dígitos y largo máximo de 15 dígitos.</div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar cliente</button>
            </form>
        </div>
    </section>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <span class="mx-auto text-muted">© 2022 NESSFIT</span>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>