<nav th:fragment="nav" class="navbar navbar-expand-lg" xmlns:sec="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand text-light" th:href="@{/home}">Menú</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="hasAuthority('Administrador')"><a class="nav-link text-light" aria-current="page" th:href="@{/administrator/manage-user}">Gestionar usuarios</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('Administrativo')"><a class="nav-link text-light" aria-current="page" th:href="@{/administrative/manage-user}">Gestionar clientes</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('Administrativo')"><a class="nav-link text-light" aria-current="page" th:href="@{/administrative/manage-installation}">Gestionar instalaciones</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('Administrativo')"><a class="nav-link text-light" aria-current="page" th:href="@{/administrative/view-request}">Desplegar solicitudes</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('Cliente')"><a class="nav-link" style="color: white;" aria-current="page" th:href="@{/client/view-installation}">Arrendar centro deportivo</a></li>
                <li class="nav-item" sec:authorize="hasAuthority('Cliente')"><a class="nav-link" style="color: white;" aria-current="page" th:href="@{/client/view-request}">Visualizar solicitudes</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid mt-auto">
        <a th:href="@{/home}">
            <img th:src="@{/images/logo.png}" class="mx-auto" alt="..." style="width: 10rem; max-width: 10rem; min-width: 10rem;">
        </a>
    </div>
</nav>