.dropdown-content {
    position: absolute;
    display: none;
    top: 2.5rem;
    right: 0;
    background-color: #3F8880;
    min-width: 10rem;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    width: 10rem;
    display: block;
    border-top: 0.0625rem solid white;
}
.dropdown-content a:hover {
    background-color: #FEF6CD;
    color: black;
}
nav a.profile:hover + .dropdown-content {
    display: inline-block;
}
.dropdown-content:hover{
    display: inline-block;
}