main {
    min-height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: fit-content;
    height: fit-content;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}