nav {
    height: 2.5rem;
    width: 100%;
    background-color: #3F8880;
    position: sticky;
    top: 0;
}
nav a {
    min-width: 10rem;
    display: block;
    color: white;
    text-align: center;
    padding: 0.675rem 0.75rem;
    float: right;
    text-decoration: none;
    border-left: 0.0625rem solid white;
}
nav a:hover {
    background-color: #FEF6CD;
    color: black;
}