body {
    height: 100vh;

    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background: white;
}

header {
    text-align: center;
    background: #20C67A;
}
header img {
    padding-top: 0.5rem;
    height: 6.25rem;
}

nav {
    height: 2.5rem;
    width: 100%;
    background-color: #3F8880;
    position: sticky;
    top: 0;
}
nav a.profile {
    min-width: 10rem;
    display: block;
    color: white;
    text-align: center;
    padding: 0.675rem 0.75rem;
    text-decoration: none;
    float: right;
    border-left: 1px solid white;
}
nav a.profile:hover {
    background-color: #FEF6CD;
    color: black;
}

.dropdown-content {
    position: absolute;
    display: none;
    top: 2.5rem;
    right: 0;
    background-color: #3F8880;
    min-width: 10rem;
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    width: 10rem;
    display: block;
    border-top: 1px solid white;
}
.dropdown-content a:hover {
    background-color: #FEF6CD;
    color: black;
}
nav a.profile:hover + .dropdown-content {
    display: inline-block;
}
.dropdown-content:hover{
    display: inline-block;
}

section {
    height: calc(100vh - 9.5rem);
    width: 100%;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

main {
    background: white;
    border-radius: 1rem;
    border: 1px solid #3F8880;
}

.form {
    padding: 1rem;
}

.input-field {
    border: none;
    width: 20rem;

    display: block;
    position: relative;
    margin: 1.5rem;
}
.input-field input {
    width: 100%;

    border: none;
    outline: none;
    font-size: 1.5rem;
    border-bottom: 2px solid #CCC;
    padding: 0.75rem 0 0.5rem 0;

    text-align: center;
}
.input-field input + label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #CCC;
    transition: 0.5s;
}
.input-field input:focus {
    border-color: #3F8880;
    transition: 0.5s;
}
.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: 0;
    transition: 0.5s;
    background-color: #FFF;
    color: #3F8880;
}

.alert {
    box-sizing: border-box;
    margin: 1.5rem;
    padding: 0.75rem;
    width: 20rem;
    background-color: #d14036;
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

.button-field {
    border: none;
    display: flex;
    margin: 1.5rem 0;
    justify-content: center;
}
.button {
    padding: 0.75rem;
    appearance: none;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    color: #3F8880;
    font-size: 1.5rem;
    border: 2px solid #3F8880;
}
.button:hover {
    transition: 0.5s;
    color: white;
    background-color: #3F8880;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


footer {
    text-align: center;
    padding: 3px;
    background-color: #9DC09D;
    color: white;
}
footer a {
    text-decoration: none;
    color: white
}
footer a:hover {
    color: black;
}