.input-select{
    box-sizing: border-box;
    border: none;
    width: 4rem;
    padding-bottom: 1rem;
    display: block;
    position: relative;
    color:#3F8880;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #CCC, #3f8880);
    border-color: #CCC;
    flex: 1;
    margin-left: 1rem;
    padding-left: 0.5rem;
    cursor:pointer;
    font-size: 1em;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 18rem;
    height: 2em;
    line-height: 2;
    background: none;
    overflow: hidden;
    margin: 1rem;
    margin-bottom: 1.5rem;
 }
 .select::placeholder{
    color: #CCC;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.5rem;
    background: none;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }