<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>


<nav>
  <a class="profile">Cuenta</a>
  <div class="dropdown-content">
    <a th:href="@{/home}">Menú principal</a>
    <a th:href="@{/profile}">Editar perfil</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
  </div>
</nav>


<section>
  <main>
    <form th:action="@{/change-password}" method="post" autocomplete="off">
      <div class="input-field">
        <input th:value="${newPassword}" type="password" name="newPassword" id="new-password" placeholder=" ">
        <label for="new-password">Nueva contraseña</label>
      </div>
      <div class="input-field">
        <input th:value="${repeatNewPassword}" type="password" name="repeatNewPassword" id="repeat-new-password" placeholder=" ">
        <label for="repeat-new-password">Repetir nueva contraseña</label>
      </div>
      <div th:if="${msg == true}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Error!</strong> El largo de la contraseña debe estar entre 10 y 15 caracteres.
      </div>
      <div th:if="${msg == false}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Error!</strong> Las contraseñas no coinciden.
      </div>
      <div class="button-field">
        <button class="button" type="button" id="button-confirm">Cambiar contraseña</button>
      </div>
      <div id="modal" class="modal">
        <div class="modal-content">
          <label>¿Está seguro?</label>
          <div class="button-field">
            <button class="button-confirm" type="submit">Confirmar</button>
          </div>
          <div class="button-field">
            <button class="button-cancel" type="reset" id="button-cancel">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </main>
</section>
<script th:src="@{/js/modal-confirm.js}"></script>
</body>
</html>