<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<nav>
    <a class="profile">Opciones</a>
    <div class="dropdown-content">
        <a th:href="@{/home}">Menú principal</a>
        <a th:href="@{/change-password}">Cambiar contraseña</a>
        <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
</nav>
<section>
    <main>
        <form action="#" th:action="@{/edit-profile}" th:object="${user}" method="post" autocomplete="off">
            <h2 class= "title">Editar mi perfil</h2>
            <!--RUT-->
            <div class="input-field input-field-large">
                <input type="text" th:field="*{rut}" name="rut" id="rut" placeholder=" " readonly>
                <label for="rut">RUT</label>
            </div>
            <!--FirstName-->
            <div class="input-field input-field-large">
                <input type="text" th:field="*{firstName}" name="first_name" id="first_name" placeholder=" ">
                <label for="first_name">Nombres</label>
            </div>
            <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-large">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong>
                <label th:errors="*{firstName}"></label>
            </div>
            <!--LastName-->
            <div class="input-field input-field-large">
                <input type="text" th:field="*{lastName}" name="last_name" id="last_name" placeholder=" ">
                <label for="last_name">Apellidos</label>
            </div>
            <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-large">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong>
                <label th:errors="*{lastName}"></label>
            </div>
            <!--Email-->
            <div class="input-field input-field-large">
                <input type="text" th:field="*{email}" name="email" id="email" placeholder="Ej: ejemplo@ejemplo">
                <label for="email">Correo electrónico</label>
            </div>
            <div th:if="${#fields.hasErrors('email')}" class="alert alert-large">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong>
                <label th:errors="*{email}"></label>
            </div>
            <div th:if="${emailExist == false}" class="alert alert-large">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
            </div>
            <!--Phone-->
            <div class="input-field phone input-field-large">
                <input type="text" th:field="*{phone}" name="phone" id="phone" placeholder="12345678910">
                <label for="phone">Teléfono</label>
            </div>
            <div th:if="${#fields.hasErrors('phone')}" class="alert alert-large">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong>
                <label th:errors="*{phone}"></label>
            </div>
            <!--Button-->
            <div class="button-field">
                <button class="button" type="button" id="button-confirm">Guardar cambios</button>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <label>¿Está seguro?</label>
                    <div class="button-field">
                        <button class="button-confirm" type="submit">Confirmar</button>
                    </div>
                    <div class="button-field">
                        <button class="button-cancel" type="button" id="button-cancel">Cancelar</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
</section>
<footer th:insert="fragments/footer-fragment::footer"></footer>
<script th:src="@{/js/modal-confirm.js}"></script>
</body>
</html>