<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>NESSFIT</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <img th:src="@{/images/logo.png}" alt="logo">
</header>
<nav>
    <a class="profile">Cuenta</a>
    <div class="dropdown-content">
        <a th:href="@{/profile}">Editar perfil</a>
        <a th:href="@{/change-password}">Cambiar contraseña</a>
        <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
</nav>

<section>
    <div class="grid-container">
        <div>
            <img th:src="@{/images/manage-administrative.png}" alt="manage-administrative">
            <div class="button-field">
                <button class="button" type="submit">Registrar una instalación deportiva</button>
            </div>
        </div>
        <div>
            <img th:src="@{/images/manage-request.png}" alt="manage-request">
            <div class="button-field">
                <button class="button" type="submit">Administrar solicitudes de arriendo</button>
            </div>
        </div>
        <div>
            <img th:src="@{/images/manage-administrative.png}" alt="manage-administrative">
            <div class="button-field">
                <button class="button" type="submit">Registrar una instalación deportiva</button>
            </div>
        </div>
        <div>
            <img th:src="@{/images/manage-request.png}" alt="manage-request">
            <div class="button-field">
                <button class="button" type="submit">Administrar solicitudes de arriendo</button>
            </div>
        </div>
        <div>
            <img th:src="@{/images/manage-administrative.png}" alt="manage-administrative">
            <div class="button-field">
                <button class="button" type="submit">Registrar una instalación deportiva</button>
            </div>
        </div>
        <div>
            <img th:src="@{/images/manage-request.png}" alt="manage-request">
            <div class="button-field">
                <button class="button" type="submit">Administrar solicitudes de arriendo</button>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>Centro de arriendos deportivos
        <br>
        <a href="mailto:antonio.barraza.guzman@gmail.com">Contacto</a>
    </p>
</footer>
</body>
</html>