<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<nav>
    <a class="profile">Cuenta</a>
    <div class="dropdown-content">
        <a th:href="@{/edit-profile}">Editar perfil</a>
        <a th:href="@{/change-password}">Cambiar contraseña</a>
        <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
</nav>
<section>
    <div class="grid-container">
        <div sec:authorize="hasAnyAuthority('ADMINISTRATOR','ADMINISTRATIVE')">
            <img th:src="@{/images/add-user.png}" alt="add-administrative">
        </div>

        <div sec:authorize="hasAuthority('ADMINISTRATOR')">
            <form th:action="@{administrator/register-user}">
                <div class="button-field">
                    <button class="button" type="submit">Registrar un administrativo</button>
                </div>
            </form>
        </div>
        <div sec:authorize="hasAuthority('ADMINISTRATIVE')">
            <form th:action="@{administrative/register-user}">
                <div class="button-field">
                    <button class="button" type="submit">Registrar un cliente</button>
                </div>
            </form>
        </div>


        <div sec:authorize="hasAnyAuthority('ADMINISTRATOR','ADMINISTRATIVE')">
            <img th:src="@{/images/status-users.png}" alt="status-user">
        </div>
        <div sec:authorize="hasAuthority('ADMINISTRATOR')">
            <form th:action="@{administrator/change-status-user}">
                <div class="button-field">
                    <button class="button" type="submit">Deshabilitar y/o habilitar un usuario</button>
                </div>
            </form>
        </div>
        <div sec:authorize="hasAuthority('ADMINISTRATIVE')">
            <form th:action="@{administrative/change-status-user}">
                <div class="button-field">
                    <button class="button" type="submit">Deshabilitar y/o habilitar un usuario</button>
                </div>
            </form>
        </div>

    </div>
</section>
<footer th:insert="fragments/footer-fragment::footer"></footer>
<script th:src="@{/js/modal-confirm.js}"></script>
</body>
</html>