<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<nav>
    <a class="contact" href="mailto:antonio.barraza.guzman@gmail.com">Contacto</a>
</nav>
<section>
    <main>
        <form th:action="@{/login}" method="post" autocomplete="off">
            <h2>Iniciar sesión</h2>
            <div class="input-field">
                <input type="text" name="rut" id="rut" placeholder="Ej: 12345678K">
                <label for="rut">RUT</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" placeholder=" ">
                <label for="password">CONTRASEÑA</label>
            </div>
            <div th:if="${param.disableduser != null}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong> Usuario deshabilitado. Contacte al administrador.
            </div>
            <div th:if="${param.notfounduser != null}" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>¡Error!</strong> Las credenciales de acceso son incorrectas o el usuario no está registrado en el sistema.
            </div>
            <div class="button-field">
                <button class="button" type="submit">Iniciar</button>
            </div>
        </form>
    </main>
</section>
</body>
</html>