<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NESSFIT</title>
    </head>

    <body>
        <header>
            <!-- <img> -->
            <h1>NESSFIT</h1>
            <h2>Centro de arriendos deportivos</h2>
        </header>

        <section>
            <form>
                <!-- <img> -->
                <input type="text" placeholder="RUT"></input>
                <input type="password" placeholder="Contraseña"></input>
                <label>Mensaje</label>
                <button type="submit">Iniciar sesión</button>
            </form>
        </section>

        <footer>
            <a href="mailto:antonio.barraza.guzman@gmail.com">Contacto con el administrador.</a>
            <label>© Todos los derechos reservados.</label>
        </footer>
    </body>
</html>