<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{css/login-test.css}" rel="stylesheet">
        <title>NESSFIT</title>
    </head>

    <body>
        <header>
            <img class="logo-header" src="images/logo1.png" alt="logo"/>
            <h1 class="title-page">NESSFIT</h1>
            <h2 class="subtitle-page">Centro de arriendos deportivos</h2>
        </header>

        <section>
            <form class="form">
                <div class="wrapper">
                    <div class="input-data">
                        <input type="text" required></input>
                        <div class="underline"></div>
                        <label>RUT</label>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="input-data">
                        <input type="password" required></input>
                        <div class="underline"></div>
                        <label>CONTRASEÑA</label>
                    </div>
                </div>
            </form>
        </section>

        <footer>
            <label class="reserved-rights">© Todos los derechos reservados.</label>
            <a class="mail" href="mailto:antonio.barraza.guzman@gmail.com">Contacto con el administrador.</a>
        </footer>
    </body>
</html>