<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NESSFIT</title>
  <link rel="stylesheet" th:href="@{/css/password.css}">
</head>
<body>
<header>
  <img src="/images/logo.png" alt="logo">
</header>
<nav>
  <a class="profile">Opciones</a>
  <div class="dropdown-content">
    <a th:href="@{/home}">Volver</a>
    <a th:href="@{/profile}">Editar perfil</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
  </div>
</nav>
<section>
  <main>
    <form>
      <div class="input-field">
        <input type="password" name="password1" id="password1" placeholder=" " required>
        <label for="password1">Nueva contraseña</label>
      </div>
      <div class="input-field">
        <input type="password" name="password2" id="password2" placeholder=" " required>
        <label for="password2">Repetir nueva contraseña</label>
      </div>
      <div class="button-field">
        <button class="button" type="submit">Cambiar contraseña</button>
      </div>
    </form>
  </main>
</section>
</body>
</html>