<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>NESSFIT</title>
  <link rel="stylesheet" th:href="@{/css/password.css}">
</head>
<body>
<header>
  <img th:src="@{/images/logo.png}" alt="logo">
</header>
<nav>
  <a class="profile">Cuenta</a>
  <div class="dropdown-content">
    <a th:href="@{/home}">Menú principal</a>
    <a th:href="@{/profile}">Editar perfil</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
  </div>
</nav>
<section>
  <main>
      <!-- New Password -->
    <form th:action="@{/change-password}" method="post">
      <div class="input-field">
        <input th:value="${newPassword}" type="password" name="newPassword" id="password1" placeholder=" " required class="form-control">
        <label for="password1">Nueva contraseña</label>
      </div>

      <!-- Repeat New Password -->
      <div class="input-field">
        <input th:value="${repeatNewPassword}" type="password" name="repeatNewPassword" id="password2" placeholder=" " required class="form-control">
        <label for="password2">Repetir nueva contraseña</label>
      </div>

      <div th:if="${msg == true}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Error!</strong> El largo de la contraseña debe estar entre 10 y 15 caracteres.
      </div>

      <div th:if="${msg == false}" class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>¡Error!</strong> Las contraseñas no coinciden.
      </div>

      <!-- Button Submit -->
      <div class="button-field">
        <button class="button" type="submit">Cambiar contraseña</button>
      </div>

    </form>
  </main>
</section>
<footer>
  <p>Centro de arriendos deportivos<br>
    <a href="mailto:antonio.barraza.guzman@gmail.com">Contacto</a></p>
</footer>
</body>
</html>