<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>NESSFIT</title>
  <link rel="stylesheet" th:href="@{/css/password.css}">
</head>
<body>
<header>
  <img src="/images/logo.png" alt="logo">
</header>
<nav>
  <a class="profile">Opciones</a>
  <div class="dropdown-content">
    <a th:href="@{/home}">Volver</a>
    <a th:href="@{/profile}">Editar perfil</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
  </div>
</nav>
<section>
  <main>
    <form th:action="@{/change-password}" method="post">

      <!-- New Password -->
      <div class="input-field">
        <label for="password1">Nueva contraseña</label>
        <input th:value="${newPassword}" type="password" name="newPassword" id="password1" placeholder=" " required class="form-control">
      </div>

      <!-- Repeat New Password -->
      <div class="input-field">
        <label for="password2">Repetir nueva contraseña</label>
        <input th:value="${repeatNewPassword}" type="password" name="repeatNewPassword" id="password2" placeholder=" " required class="form-control">
      </div>

      <!-- Button Submit -->
      <div class="button-field">
        <button class="button" type="submit">Cambiar contraseña</button>
      </div>

    </form>
  </main>
</section>
</body>
</html>