<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NESSFIT</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<header>
    <img th:src="@{/images/logo.png}" alt="logo">
</header>
<nav>
    <a class="profile">Opciones</a>
    <div class="dropdown-content">
        <a th:href="@{/home}">Menú principal</a>
        <a th:href="@{/password}">Cambiar contraseña</a>
        <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
</nav>
<section>
    <form>
        <div class="input-field large">
            <input type="text" name="name" id="name" placeholder=" " required>
            <label for="name">Nombres</label>
        </div>
        <div class="input-field large">
            <input type="text" name="lastname" id="lastname" placeholder=" " required>
            <label for="lastname">Apellidos</label>
        </div>
        <div class="input-field large">
            <input type="email" name="email" id="email" placeholder=" " required>
            <label for="email">Correo electrónico</label>
        </div>
        <div class="input-field">
            <input type="number" name="phone" id="phone" placeholder=" " required>
            <label for="phone">Teléfono</label>
        </div>
        <div class="button-field">
            <button class="button" type="reset">Cancelar</button>
        </div>
        <div class="button-field">
            <button class="button" type="submit">Guardar</button>
        </div>
    </form>
</section>
<footer>
    <p>Centro de arriendos deportivos<br>
        <a href="mailto:antonio.barraza.guzman@gmail.com">Contacto</a></p>
</footer>
</body>
</html>