<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<nav>
  <a class="profile">Opciones</a>
  <div class="dropdown-content">
    <a th:href="@{/home}">Menú principal</a>
    <a th:href="@{/edit-profile}">Editar perfil</a>
    <a th:href="@{/change-password}">Cambiar contraseña</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
  </div>
</nav>
<section>
  <main>
    <div sec:authorize="hasAuthority('ADMINISTRATOR')">
      <form th:action="@{/administrator/register-user}" method="post" autocomplete="off" >
        <h2>Registrar un administrativo</h2>
        <h3>*Campo requerido</h3>
        <div class="input-field input-field-large">
          <input type="text" name="rut" id="rut" placeholder="12345678K" th:value=${rut}>
          <label for="rut">RUT</label>
        </div>
        <div th:if="${msgRutValidator == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> RUT inválido.
        </div>
        <div th:if="${msgRutExists == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="name" id="name" placeholder=" " th:value=${name}>
          <label for="name">Nombres</label>
        </div>
        <div th:if="${msgName == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Los nombres o apellidos deben tener más de 2 caracteres.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="lastname" id="lastname" placeholder=" " th:value=${lastname}>
          <label for="lastname">Apellidos</label>
        </div>
        <div th:if="${msgLastName == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Los nombres o apellidos deben tener más de 2 caracteres.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="email" id="email" placeholder="ejemplo@ejemplo" th:value=${email}>
          <label for="email">Correo electrónico</label>
        </div>
        <div th:if="${msgEmailValidator == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Su correo electrónico no es válido.
        </div>
        <div th:if="${msgEmailExist == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
        </div>
        <div class="input-field phone input-field-large">
          <input type="text" name="phone" id="phone" placeholder=" " th:value=${phone}>
          <label for="phone">Teléfono</label>
        </div>
        <div th:if="${msgPhone == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El teléfono móvil ingresado no es válido.
        </div>
        <div class="button-field">
          <button class="button" type="button" id="button-confirm">Registrar</button>
        </div>
        <div id="modal" class="modal">
          <div class="modal-content">
            <label>¿Está seguro?</label>
            <div class="button-field">
              <button class="button-confirm" type="submit">Confirmar</button>
            </div>
            <div class="button-field">
              <button class="button-cancel" type="button" id="button-cancel">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div sec:authorize="hasAuthority('ADMINISTRATIVE')">
      <form th:action="@{/administrative/register-user}" method="post" autocomplete="off">
        <h2 class= "title">Registrar un cliente</h2>
        <div class="input-field input-field-large">
          <input type="text" name="rut" id="rut" placeholder="12345678K">
          <label for="rut">RUT</label>
        </div>
        <div th:if="${msgRutValidator == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> RUT inválido.
        </div>
        <div th:if="${msgRutExists == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="name" id="name" placeholder=" ">
          <label for="name">Nombres</label>
        </div>
        <div th:if="${msgName == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Los nombres o apellidos deben tener más de 2 caracteres.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="lastname" id="lastname" placeholder=" ">
          <label for="lastname">Apellidos</label>
        </div>
        <div th:if="${msgLastName == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Los nombres o apellidos deben tener más de 2 caracteres.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="email" id="email" placeholder="ejemplo@ejemplo">
          <label for="email">Correo electrónico</label>
        </div>
        <div th:if="${msgEmailValidator == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Su correo electrónico no es válido.
        </div>
        <div th:if="${msgEmailExist == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El RUT y/o correo electrónico ya existen en el sistema. Intente iniciar sesión.
        </div>
        <div class="input-field phone input-field-large">
          <input type="text" name="phone" id="phone" placeholder=" ">
          <label for="phone">Teléfono</label>
        </div>
        <div th:if="${msgPhone == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El teléfono móvil ingresado no es válido.
        </div>
        <div class="button-field">
          <button class="button" type="button" id="button-confirm">Registrar</button>
        </div>
        <div id="modal" class="modal">
          <div class="modal-content">
            <label>¿Está seguro?</label>
            <div class="button-field">
              <button class="button-confirm" type="submit">Confirmar</button>
            </div>
            <div class="button-field">
              <button class="button-cancel" type="button" id="button-cancel">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</section>
<footer th:insert="fragments/footer-fragment::footer"></footer>
<script th:src="@{/js/modal-confirm.js}"></script>
</body>
</html>