<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment::head"></head>
<body>
<header th:insert="fragments/header-fragment::header"></header>
<nav>
  <a class="profile">Opciones</a>
  <div class="dropdown-content">
    <a th:href="@{/home}">Menú principal</a>
    <a th:href="@{/edit-profile}">Editar perfil</a>
    <a th:href="@{/change-password}">Cambiar contraseña</a>
    <a th:href="@{/logout}">Cerrar sesión</a>
  </div>
</nav>
<section>
  <main>
    <div sec:authorize="hasAuthority('ADMINISTRATIVE')">
      <form th:action="@{/administrative/register-user}" method="post" autocomplete="off">
        <h2>Registrar una instalación</h2>
        <div class="input-field input-field-large">
          <input type="text" name="name" id="name" placeholder=" ">
          <label for="name">Nombre</label>
        </div>
        <div th:if="${msgName == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> Los nombres o apellidos deben tener más de 2 caracteres.
        </div>
        <div class="input-field input-field-large">
          <input type="text" name="adress" id="address" placeholder=" ">
          <label for="address">Dirección</label>
        </div>
        <div th:if="${msgLastName == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> La dirección debe tener más de 2 caracteres.
        </div>
        <div class="select">
          <label for="type" class="input-select">Tipo</label>
          <select class="select-option" name="type">
            <option disabled selected>Seleccione una opción</option>
            <option value="Cancha">Cancha</option>
            <option value="Gimnasio">Gimnasio</option>
            <option value="Piscina">Piscina</option>
            <option value="Quincho">Quincho</option>
            <option value="Estadio">Estadio</option>
          </select>
        </div>
        <div class="input-field phone input-field-large">
          <input type="number" name="cost" id="cost" placeholder="min: $1000">
          <label for="cost">Costo de arriendo</label>
        </div>
        <div th:if="${msgPhone == false}" class="alert alert-large">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>¡Error!</strong> El costo de arriendo ingresado no es válido.
        </div>
        <div class="radio">
          <label for="status" class="input-radio">Estado</label>
          <label class="container">Inoperativo
            <input type="radio" name="status" value="0" checked="">
            <span class="checkmark"></span>
          </label>
          <label class="container">Operativo
            <input type="radio" name="status" value="1">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="button-field">
          <button class="button" type="button" id="button-confirm">Registrar</button>
        </div>
        <div id="modal" class="modal">
          <div class="modal-content">
            <label>¿Está seguro?</label>
            <div class="button-field">
              <button class="button-confirm" type="submit">Confirmar</button>
            </div>
            <div class="button-field">
              <button class="button-cancel" type="button" id="button-cancel">Cancelar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</section>
<footer th:insert="fragments/footer-fragment::footer"></footer>
<script th:src="@{/js/modal-confirm.js}"></script>
<script th:src="@{/js/restrict-checkbox.js}"></script>
</body>
</html>